.strava-bulk-edit-loading-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  width: 100vw;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.4);
}

.strava-bulk-edit-loading-overlay-hidden {
  display: none;
}

.strava-bulk-edit-loading-content {
  background-color: #fff;
  color: #333;
  border-radius: 0.5em;
  text-align: center;
  padding: 2em;
}

.strava-bulk-edit-loading-content * {
  margin: 0;
}
.strava-bulk-edit-loading-content * + * {
  margin-top: 1.5em;
}

.strava-bulk-edit-loading-animation {
  transition: 1s ease-in-out;
  animation-duration: 1.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
