.modal.in {
  display: block;
}

.modal .modal-content {
  border: none;
}

.modal .modal-body {
  background-color: transparent;
}

.modal-body * {
  margin: 0;
}

.modal-body * + * {
  margin-top: 1.5em;
}

.modal-backdrop {
  display: none;
  opacity: 0.5;
}

.modal-open .modal-backdrop.in {
  display: block;
  opacity: 0.5;
}

.strava-bulk-edit-loading-animation {
  transition: 1s ease-in-out;
  animation-duration: 1.5s;
  animation-name: rotate;
  animation-iteration-count: infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
